body {
  background-color: cornflowerblue;
}

.box1 {
  background-color: white;
  border: solid black 2px;
  padding: 10px;
  width: 50%;
}

.box2 {
  background-color: white;
  border: solid black 2px;
  padding: 10px;
  width: 5%;
}

.button {
  padding: 10px;
  width: 10%;
  height: 30%;
}

img {
  border: solid black 2px;
  width: 30%;
  height: 30%;
}